<!DOCTYPE html>
<html>
<head>
    <title>Inventory Sales System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Inventory & Sales Management System</h1>

    <p>Welcome to our Inventory & Sales Management System</p>

    <hr>

    <h2>Menu</h2>

    <p>
        <a href="/products">Products</a>
    </p>

    <p>
        <a href="/customers">Customers</a>
    </p>

    <p>
        <a href="/sales">Sales</a>
    </p>

</body>
</html>